<div *ngIf="isResetModalVisible">
    <div class="modal-backdrop-blur"></div>

    <div class="modal fade show d-block" tabindex="-1" style="z-index: 1050;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3 position-relative">
                <div class="modal-header">
                    <h5 class="modal-title">Reset Password</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
                </div>

                <div class="modal-body">
                    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
                        <div class="mb-3">
                            <label>Email *</label>
                            <input type="email" class="form-control" [(ngModel)]="email" name="email" readonly />
                        </div>

                        <label>Enter OTP</label>
                        <div class="d-flex gap-2 mb-3">
                            <input *ngFor="let digit of otp; index as i" type="text"
                                class="form-control text-center otp-box" maxlength="1" name="otp-{{i}}"
                                [(ngModel)]="otp[i]" #otpInput [id]="'otp-' + i" (input)="onOtpInput(i, $event)"
                                (keydown)="onOtpKeyDown(i, $event)" />
                        </div>

                        <div class="mb-3">
                            <label>New Password *</label>
                            <input type="password" class="form-control" [(ngModel)]="password" name="password"
                                required />
                            <small class="text-danger" *ngIf="passwordError">{{ passwordError }}</small>
                        </div>

                        <div class="mb-3">
                            <label>Confirm Password *</label>
                            <input type="password" class="form-control" [(ngModel)]="confirmPassword"
                                name="confirmPassword" required />
                            <small class="text-danger" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</small>
                        </div>

                        <div class="text-end">
                            <button type="submit" class="btn btn-success" [disabled]="!resetForm.valid">
                                Reset Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>