.custom-footer {
    background-color: #f2f2eb;
    border-top: 1px solid black;
}

.footer-links {
    margin-top: 10px;
}

.footer-link {
    font-size: 0.9rem;
    margin: 4px 8px;
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

.footer-link:hover {
    color: #007bff;
}