<div *ngIf="isForgotPasswordModalVisible">
    <div class="modal-backdrop-blur"></div>

    <div class="modal fade show d-block" tabindex="-1" style="z-index: 1050;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3 position-relative">
                <div class="modal-header">
                    <h5 class="modal-title">Forgot Password</h5>
                    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="forgotEmail">Email</label>
                            <input type="email" [(ngModel)]="email" name="forgotEmail" required class="form-control" />
                        </div>
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-primary">Send OTP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>